/* GENEREAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' sans-serif;
}

body {
    font-weight: 300;
    color: #989898;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #000;
}

/* Utility */
.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.mb-30 {
    margin-bottom: 30px;
}

.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}

/* TODO: remove me when finished */
.debug-box {
    height: 70px;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

/* HEADER */
.brand {
    display: inline-block;
}

.brand img {
    width: 165px;
}

.main-menu > li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.main-menu > li:last-child {
    margin-right: 0;
}

.main-menu > li > a {
    text-decoration: none;
    color: #868686;
    text-transform: uppercase;
}

.main-menu > li > a:hover {
    color: #000;
}

/* HERO SECTION */
.hero {
    height: 400px;
    background: url(../img/banner.jpg);
    background-position: center;
    border-radius: 10px;
}

.hero-opacity {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.hero-text {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 50%;
}

.hero-text h2,
.hero-text p {
    color: white;
}

/* COLUMN SECTION */
.column-section {
    background: #2089F7;
}

.columns-heading {
    margin-bottom: 20px;
}

.columns .col {
    float: left;
    width: 20%;
}

.columns .col:nth-child(2) {
    width: 60%;
}


/* FOOTER */
footer {
    background: #8D52FC;
}